{% extends "form-builder/_layouts/layout" %}
{% import "_includes/forms" as forms %}

{% set title = "Settings"|t('form-builder') %}
{% set bodyClass = 'formbuilder fb-settings' %}
{% set selectedSubnavItem = "settings" %}

{% block content %}
    {{ actionInput('plugins/save-plugin-settings') }}
    {{ hiddenInput('pluginHandle', plugin.handle) }}
    {{ redirectInput('form-builder/settings') }}

    {{ forms.textField({
        label: "Plugin Name"|t('form-builder'),
        id: 'plugin-name',
        name: 'settings[pluginName]',
        first: true,
        autofocus: true,
        value: settings.pluginName,
        errors: (settings.getErrors('pluginName'))
    }) }}

{% endblock %}

{% block details %}
    {% if hasUpdate %}
        <div class="meta">
            <br>
            <p>Plugin needs an update!</p>
            <br>
        </div>
    {% endif %}

    {% set isMigrationsAvailable = craft.fbMigration.isMigrationsAvailable() %}
    {% if isMigrationsAvailable %}
        <div class="meta">
            <div class="data">
                <h class="heading">{{ "Migrations"|t('form-builder') }}</h>
                <div class="value">
                    <a href="{{ url('form-builder/settings/migration') }}" class="btn">{{ 'View Migrations'|t('form-builder') }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="meta">
        <div class="data">
            <h5 class="heading">Plugin Version</h5>
            <div class="value">{{ plugin.getVersion() }}</div>
        </div>

        <div class="data">
            <h5 class="heading">Website</h5>
            <div class="value"><a href="https://formbuilder.tools" target="_blank">formbuilder.tools</a></div>
        </div>

        <div class="data">
            <h5 class="heading">Docs</h5>
            <div class="value"><a href="https://docs.formbuilder.tools" target="_blank">docs.formbuilder.tools</a></div>
        </div>
    </div>


{% endblock %}