{% extends "form-builder/_layouts/layout" %}

{% set title = "Dashboard"|t('form-builder') %}
{% set bodyClass = 'formbuilder fb-dashboard' %}
{% set selectedSubnavItem = "dashboard" %}

{% block main %}
    <div id="dashboard-grid" class="grid">
        <div class="item" data-colspan="3">
            <div class="widget" id="widget-recent-submissions-chart-widget">
                <div class="front">
                    <div class="pane">
                        <div class="widget-heading">
                            <h2>{{ "Submissions"|t('form-builder') }}</h2>
                        </div>
                        <div class="body"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" data-colspan="1">
            <div class="widget" >
                <div class="front">
                    <div class="pane">
                        <div class="widget-heading">
                            <h2>{{ "Recent Submissions"|t('form-builder') }}</h2>
                            <a href="{{ url('form-builder/entries') }}" class="link">See all</a>
                            <hr>
                        </div>
                        <div class="body">
                            {% set recentEntries = craft.fb.entries({
                                limit: 5
                            }).all() %}

                            <div class="list">
                                {% for entry in recentEntries %}
                                    {% set form = entry.getForm() %}
                                    {% set group = form.getGroup() %}

                                    <div class="list-item {% if loop.last %}last{% endif %}">
                                        <div class="item-meta">
                                            <span class="item-meta-icon"><i class="far fa-list"></i></span>
                                            <span class="item-meta-title">{{ form.name }}</span>
                                        </div>

                                        <div class="item-title">
                                            <a href="{{ entry.url }}">{{ entry.title }}</a>
                                        </div>
                                    </div>
                                    <hr>
                                {% else %}
                                    <div class="list-item">
                                        <div class="item-title">
                                            <p>{{ "No submissions yet"|t('form-builder') }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{#{% js %}#}
{#    new window.FormBuilder.GetEntriesCount('recent-submissions-chart-widget');#}
{#{% endjs %}#}