{% set id = random(3000) %}

<header class="hud-header">
    <h2>{{ 'Available Integration'|t('form-builder') }}</h2>
</header>

<div class="hud-body">
    {% for integration in integrations %}
        <a href="{{ url('form-builder/integrations/' ~ integration.id) }}" class="fb-field integration-add-link"
           data-id="{{ integration.id }}"
           data-allow-multiple="{{ integration.allowMultiple }}"
           data-name="{{ integration.name }}"
           data-handle="{{ integration.handle }}"
           data-type="{{ integration.type }}"
           data-status="{{ integration.status }}">

            <div class="tout-title">
                {% if craft.app.view.doesTemplateExist('form-builder/_includes/icons/integrations-' ~ integration.type) %}
                    <div class="item-meta-icon">{% include 'form-builder/_includes/icons/integrations-' ~ integration.type ignore missing %}</div>
                {% else %}
                    <div class="item-meta-icon">{% include 'form-builder-integrations/icons/integrations-' ~ integration.type ignore missing %}</div>
                {% endif %}

                <span class="type-title">{{ integration.type }}</span>
            </div>
            <span class="integration-title">{{ integration.name }}</span>
            <div class="status-container">
                {% if integration.status == 'enabled' %}
                    <div class="status on" title="{{ 'Enabled'|t('form-builder') }}"></div>
                {% else %}
                    <div class="status off" title="{{ 'Disabled'|t('form-builder') }}"></div>
                {% endif %}
            </div>
        </a>
    {% endfor %}
</div>