{% extends "form-builder/_layouts/layout" %}
{% import "_includes/forms" as forms %}

{% set bodyClass = 'formbuilder fb-edit-integration' %}
{% set pluginCpUrl = url('form-builder') %}
{% set selectedSubnavItem = "integrations" %}

{% set docLinks = {
    'formSettings': 'https://google.com/',
    'formDatabase': 'https://yahoo.com/',
    'formOptions': 'https://bing.com/',
    'formSpamProtection': 'https://bing.com/'
} %}

{% set crumbs = [
    { label: craft.fb.getPluginName(), url: url('form-builder') },
    { label: 'Integrations' | t('form-builder'), url: url('form-builder/integrations') },
] %}

{% if entry.type %}
    {% set type = entry.type %}
{% endif %}

{% set isLocalIntegration = craft.app.view.doesTemplateExist('form-builder/_includes/icons/integrations-' ~ type) %}

{% block content %}

    {{ actionInput('form-builder/integrations/save-entry') }}

    {{ forms.textField({
        label: "Name"|t('form-builder'),
        id: 'name',
        name: 'name',
        first: true,
        autofocus: true,
        autocorrect: false,
        autocapitalize: false,
        value: entry.name,
        errors: (entry.getErrors('name'))
    }) }}

    <hr>
    {{ redirectInput('form-builder/integrations') }}

    {% if entry.id %}
        {{ hiddenInput('id', entry.id) }}
    {% endif %}

    {{ hiddenInput('type', type) }}

    {% if isLocalIntegration %}
        <h2>{{ "Options"|t('form-builder') }}</h2>
        {% include 'form-builder/integrations/_type/'~ type ~'/_edit' ignore missing with { entry: entry } %}
    {% else %}
        {% include 'form-builder-integrations/types/'~ type ~'/_edit' ignore missing with { entry: entry } %}
    {% endif %}

    {# TODO: add delete button #}
    {#{% if currentUser.can('fb:deleteIntegrations') %}#}
    {#{% if entry.id is defined %}#}
    {#<div class="pane meta delete-form-meta last">#}
    {#<a href="#" class="btns btn-danger delete-form" data-id="{{ entry.id }}">{{ "Delete Integration" |t('form-builder') }}</a>#}
    {#</div>#}
    {#{% endif %}#}
    {#{% endif %}#}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.textField({
            label: "Handle"|t('form-builder'),
            value: entry.handle,
            id: 'handle',
            name: 'handle',
            autocorrect: false,
            errors: (entry.getErrors('handle'))
        }) }}

        {{ forms.lightswitchField({
            label: "Enabled"|t('form-builder'),
            id: "status",
            name: "status",
            on: entry.status ? 1 : 0
        }) }}
    </div>
{% endblock %}

{% js %}
    {% if entry and not entry.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endjs %}
