{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Integrations"|t('form-builder') %}
{% set bodyClass = 'formbuilder fb-integrations' %}
{% set selectedSubnavItem = "integrations" %}

{% block header %}
    {% include 'form-builder/_includes/_header' ignore missing with { title: title } %}
{% endblock %}

{% block content %}

    <section class="flex-container">
        <div class="full-col widget">
            <header class="pad">
                <h2>{{ 'Integration Types'|t('form-builder') }}</h2>
            </header>
            <div class="body">
                <div class="list available-integrations-list">
                    <div class="item has-hover pad">
                        <a href="#" class="item-meta add-integration" data-type="email">
                            <div class="item-meta-icon">{% include 'form-builder/_includes/icons/integrations-email' ignore missing %}</div>
                        </a>
                        <div class="item-info">
                            <div class="item-meta-title">{{ 'Email'|t('form-builder') }}</div>
                        </div>
                    </div>
                    <div class="item has-hover pad">
                        <a href="#" class="item-meta add-integration" data-type="slack">
                            <div class="item-meta-icon">{% include 'form-builder/_includes/icons/integrations-slack' ignore missing %}</div>
                        </a>
                        <div class="item-info">
                            <div class="item-meta-title">{{ 'Slack'|t('form-builder') }}</div>
                        </div>
                    </div>
                    <div class="item has-hover pad">
                        <a href="#" class="item-meta add-integration" data-type="salesforce">
                            <div class="item-meta-icon">{% include 'form-builder/_includes/icons/integrations-salesforce' ignore missing %}</div>
                        </a>
                        <div class="item-info">
                            <div class="item-meta-title">{{ 'Salesforce'|t('form-builder') }}</div>
                        </div>
                    </div>
                    {% hook 'formbuilder-integrations-types' %}
                </div>
            </div>
        </div>
    </section>

    <section class="flex-container">
        <div class="full-col widget">
            <header class="pad">
                <h2>{{ 'Integrations'|t('form-builder') }}</h2>
            </header>
            <div class="body">

                <div class="list current-integrations-list" id="current-integrations-list">
                    {% for integration in integrations %}
                        <div class="item has-hover pad">
                            <div class="item-meta">
                                {% if craft.app.view.doesTemplateExist('form-builder/_includes/icons/integrations-' ~ integration.type) %}
                                    <div class="item-meta-icon">{% include 'form-builder/_includes/icons/integrations-' ~ integration.type ignore missing %}</div>
                                {% else %}
                                    <div class="item-meta-icon">{% include 'form-builder-integrations/icons/integrations-' ~ integration.type ignore missing %}</div>
                                {% endif %}
                            </div>
                            <div class="item-info">
                                <div class="item-meta-title"><a href="{{ url('form-builder/integrations/' ~ integration.id) }}">{{ integration.name }}</a></div>
                                <div class="coded">{{ integration.handle }}</div>
                            </div>
                            <div class="item-status">
                                {% if integration.status == 'enabled' %}
                                    <div class="status on" title="Enabled"></div>
                                {% else %}
                                    <div class="status off" title="Disabled"></div>
                                {% endif %}
                            </div>
                            <div class="item-remove" data-id="{{ integration.id }}">
                               <i class="fa fa-times"></i>
                            </div>
                        </div>
                    {% else %}
                        <p class="empty pad">{{ 'No integrations added yet'|t('form-builde') }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
