{% set allowed = form.getAllowedFieldTypes %}

{% if customizableTabs is not defined %}{% set customizableTabs = true %}{% endif %}
{% if not customizableTabs and pretendTabName is not defined %}
    {% set pretendTabName = "Content"|t('app') %}
{% endif %}

{% set groups = craft.app.fields.getAllGroups() %}

{% do view.registerTranslations('app', [
    "Rename",
    "Delete",
    "Make required",
    "Make not required",
    "Remove",
    "Give your tab a name.",
]) %}

{% macro tab(form, customizableTabs, tab, tabName, tabFields) %}
    {% set allowed = form.getAllowedFieldTypes %}

    <div class="fld-tab">
        <div class="tabs">
            <div class="tab sel{% if customizableTabs %} draggable{% endif %} tab-id-{{ tab.id }}" data-id="{{ tab.id }}">
                <span>{{ tabName }}</span>
                {% if customizableTabs %}
                    <a class="settings icon" title="{{ 'Edit'|t('app') }}"></a>
                {% endif %}
            </div>
        </div>
        <div class="fld-tabcontent">
            {% for field in tabFields %}
                {% set fieldType = field|getClass %}
                <div class="fld-field{% if field.required %} fld-required{% endif %} {% if fieldType not in allowed %}not-available{% endif %}" data-id="{{ field.id }}">
                    <a class="settings icon" title="{{ 'Edit'|t('app') }}"></a>
                    <span class="field-icon">
                        {% if fieldType == 'PlainText' %}
                            <i class="far fa-i-cursor"></i>
                        {% elseif fieldType == 'Email' %}
                            <i class="far fa-at"></i>
                        {% elseif fieldType == 'Number' %}
                            <i class="far fa-hashtag"></i>
                        {% elseif fieldType == 'Assets' %}
                            <i class="far fa-upload"></i>
                        {% elseif fieldType == 'Url' %}
                            <i class="far fa-globe"></i>
                        {% elseif fieldType == 'Checkboxes' %}
                            <i class="far fa-check-square"></i>
                        {% elseif fieldType == 'RadioButtons' %}
                            <i class="far fa-check-circle"></i>
                        {% elseif fieldType == 'MultiSelect' %}
                            <i class="far fa-check-square"></i>
                        {% elseif fieldType == 'Color' %}
                            <i class="far fa-paint-brush"></i>
                        {% elseif fieldType == 'Date' %}
                            <i class="far fa-calendar-alt"></i>
                        {% elseif fieldType == 'Dropdown' %}
                            <i class="far fa-caret-square-down"></i>
                        {% else %}
                            <i class="far fa-ban"></i>
                        {% endif %}
                    </span>
                    <span>{{ field.name|t('site') }}</span>
                    <input class="id-input" type="hidden" name="fieldLayout[{{ tabName|e('url') }}][]" value="{{ field.id }}">
                    {% if field.required %}<input class="required-input" type="hidden" name="requiredFields[]" value="{{ field.id }}">{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<div id="fieldlayoutsettings">
    {% if form.settings.fields.global.formClass is defined %}
        <input type="hidden" name="settings[fields][global][formClass]" value="{{ form.settings.fields.global.formClass }}">
    {% endif %}
    {% if form.settings.fields.global.formId is defined %}
        <input type="hidden" name="settings[fields][global][formId]" value="{{ form.settings.fields.global.formId }}">
    {% endif %}
    {% if form.settings.fields.global.inputClass is defined %}
        <input type="hidden" name="settings[fields][global][inputClass]" value="{{ form.settings.fields.global.inputClass }}">
    {% endif %}
    {% if form.settings.fields.global.inputTemplate is defined %}
        <input type="hidden" name="settings[fields][global][inputTemplate]" value="{{ form.settings.fields.global.inputTemplate }}">
    {% endif %}
</div>


<div id="fieldlayoutform" class="fieldlayoutform">

    <h2 class="first">{{ "Design your field layout"|t('app') }}</h2>


    {#    {% if customizableTabs %}#}
    {#        <div class="newtabbtn-container buttons">#}
    {#            <div class="btn btns btn-info"><i class="fas fa-plus"></i><span class="txt">{{ "Add Fieldset"|t('form-builder') }}</span></div>#}
    {#        </div>#}
    {#    {% endif %}#}

    <div class="fld-tabs">
        {% if fieldLayout %}
            {% import _self as macros %}

            {% if customizableTabs %}
                {% for tab in fieldLayout.getTabs() %}
                    {{ macros.tab(form, customizableTabs, tab, tab.name, tab.getFields()) }}
                {% endfor %}
            {% else %}
                {{ macros.tab(form, customizableTabs, tab, pretendTabName, fieldLayout.getFields()) }}
            {% endif %}


            {% if  form.fieldLayoutId %}
                {{ hiddenInput('form-builder[layoutId]', form.fieldLayoutId) }}
            {% endif %}

            {% if form.id %}
                {{ hiddenInput('form-builder[formId]', form.id) }}
            {% endif %}
        {% endif %}
    </div>

    {% if customizableTabs %}
        <div class="newtabbtn-container">
            <div class="btn add icon">{{ "Add Fieldset"|t('form-builder') }}</div>
        </div>
    {% endif %}

    <div class="unusedfields">
        {% for group in groups %}
            {% set totalUnselected = 0 %}
            {% for field in group.fields %}
                {% if not fieldLayout or field.id not in fieldLayout.getFieldIds() %}
                    {% set totalUnselected = totalUnselected + 1 %}
                {% endif %}
            {% endfor %}

            <div class="fld-tab unused{% if totalUnselected == 0 %} hidden{% endif %}">
                <div class="tabs">
                    <div class="tab sel{% if customizableTabs %} draggable{% endif %}"><span>{{ group.name }}</span></div>
                </div>
                <div class="fld-tabcontent">
                    {% for field in group.fields %}
                        {% set fieldType = field|getClass %}
                        {% set selected = fieldLayout and field.id in fieldLayout.getFieldIds() %}
                        <div class="fld-field unused{% if selected %} hidden{% endif %} {% if fieldType not in allowed %}not-available{% endif %}" data-id="{{ field.id }}">
                            <span class="field-icon">
                            {% if fieldType == 'PlainText' %}
                                <i class="far fa-i-cursor"></i>
                            {% elseif fieldType == 'Email' %}
                                <i class="far fa-at"></i>
                            {% elseif fieldType == 'Number' %}
                                <i class="far fa-hashtag"></i>
                            {% elseif fieldType == 'Assets' %}
                                <i class="far fa-upload"></i>
                            {% elseif fieldType == 'Url' %}
                                <i class="far fa-globe"></i>
                            {% elseif fieldType == 'Checkboxes' %}
                                <i class="far fa-check-square"></i>
                            {% elseif fieldType == 'RadioButtons' %}
                                <i class="far fa-check-circle"></i>
                            {% elseif fieldType == 'MultiSelect' %}
                                <i class="far fa-check-square"></i>
                            {% elseif fieldType == 'Color' %}
                                <i class="far fa-paint-brush"></i>
                            {% elseif fieldType == 'Date' %}
                                <i class="far fa-calendar-alt"></i>
                            {% elseif fieldType == 'Dropdown' %}
                                <i class="far fa-caret-square-down"></i>
                            {% else %}
                                {% if fieldType not in allowed %}
                                    <i class="far fa-ban"></i>
                                {% else %}
                                    <i class="far fa-i-cursor"></i>
                                {% endif %}
                            {% endif %}
                            </span>
                            <span>{{ field.name|t('site') }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>


</div>

{% js %}
    var initFLD = function() {
    new Craft.FieldLayoutDesigner('#{{ "fieldlayoutform"|namespaceInputId }}', {
    customizableTabs: {{ customizableTabs ? 'true' : 'false' }},
    fieldInputName: '{{ "fieldLayout[__TAB_NAME__][]"|namespaceInputName|e("js") }}',
    requiredFieldInputName: '{{ "requiredFields[]"|namespaceInputName|e("js") }}'
    });
    };

    {#    {% if tab is defined %}#}

    {#        var $fldTab = $('#{{ ("tab-"~tab)|namespaceInputId }}');#}

    {#        if ($fldTab.hasClass('sel'))#}
    {#        {#}
    {#        initFLD();#}
    {#        }#}
    {#        else#}
    {#        {#}
    {#        $fldTab.on('activate.fld', function() {#}
    {#        initFLD();#}
    {#        $fldTab.off('activate.fld');#}
    {#        });#}
    {#        }#}

    {#    {% else %}#}

    {#        initFLD();#}

    {#    {% endif %}#}
{% endjs %}
