{% import "form-builder/_includes/_components" as components %}

{% set item = key is defined ? key : 'new' ~ index %}
{% set enabled = attribute(form.notifications.email, item).enabled is defined and attribute(form.notifications.email, item).enabled ? true : false %}
{% set collapsed = attribute(form.settings.sections.notifications.email, item).collapsed is defined and attribute(form.settings.sections.notifications.email, item).collapsed ? true : false %}

<section class="cmp-tout-alt section-collapsible" data-type="email" data-collapsed>
    <input type="hidden" name="settings[sections][notifications][email][{{ item }}][collapsed]" value="0" />
    <input type="checkbox" value="1" name="settings[sections][notifications][email][{{ item }}][collapsed]" class="section-toggle hidden" />

    <header>
        <div class="titlebar">
            <span class="tout-title"><i class="far fa-at"></i>  {{ "Email Notification" |t }}</span>
            <div class="preview"></div>
        </div>
        <div class="actions">
            {% if enabled %}
                <div class="status on" title="Enabled"></div>
            {% else %}
                <div class="status off" title="Disabled"></div>
            {% endif %}

            <a class="icons collapser bodytoggle" title="Collapse" role="combobox" tabindex="0"></a>
            <a class="icons settings last" title="Settings" role="combobox" tabindex="0"></a>

            <div class="menu">
                <ul class="padded">
                    <li {% if not enabled %}class="hidden"{% endif %}><a data-action="disable"><span class="status off"></span>{{ "Disable"|t }}</a></li>
                    <li {% if enabled %}class="hidden"{% endif %}><a data-action="enable"><span class="status enabled"></span>{{ "Enable"|t }}</a></li>
                    <li><a data-action="delete">{{ "Delete"|t }}</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="body">
        <input type="hidden" name="notifications[email][{{ item }}][enabled]" value="0" />
        <input type="checkbox" name="notifications[email][{{ item }}][enabled]" value="1" class="enable-notification-section hidden" {{ enabled ? 'checked' }} />

        {% include 'form-builder/forms/_includes/integrations/email/fields/to-email' ignore missing %}
        {% include 'form-builder/forms/_includes/integrations/email/fields/from-name' ignore missing %}
        {% include 'form-builder/forms/_includes/integrations/email/fields/from-email' ignore missing %}
        {% include 'form-builder/forms/_includes/integrations/email/fields/subject' ignore missing %}
        {% include 'form-builder/forms/_includes/integrations/email/fields/reply-to' ignore missing %}
        {% include 'form-builder/forms/_includes/integrations/email/fields/cc' ignore missing %}
        {% include 'form-builder/forms/_includes/email/fields/template' ignore missing %}
        {% include 'form-builder/forms/_includes/email/fields/attachments' ignore missing %}
        {% include 'form-builder/forms/_includes/integrations/email/fields/submission' ignore missing %}
    </div>

</section>