{% block select %}
    <select name="{{ input.name }}" {% if input.class %}class="{{ input.class }}"{% endif %} {% if input.id %} id="{{ input.id }}"{% endif %}>
        {% for option in input.options|json_decode() %}
            <option value="{{ option.value }}" {% if value is defined and option.value == value %}selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block text %}
    <input type="{{ input.type|default('text') }}" name="{{ input.name }}" value="{{ input.value|e }}" {% if input.class %}class="{{ input.class }}"{% endif %} {% if input.id %} id="{{ input.id }}"{% endif %} />
{% endblock %}

{% block email %}
    <input type="{{ input.type|default('email') }}" name="{{ input.name }}" value="{{ input.value|e }}" {% if input.class %}class="{{ input.class }}"{% endif %} {% if input.id %} id="{{ input.id }}"{% endif %} />
{% endblock %}

{% block checkbox %}
    <input type="hidden" name="{{ input.name }}" value="0" />
    <input type="{{ input.type|default('checkbox') }}" name="{{ input.name }}" value="{{ input.value|e }}" {% if input.class %}class="{{ input.class }}"{% endif %} {% if input.id %} id="{{ input.id }}"{% endif %} {% if input.checked %}checked{% endif %} />
{% endblock %}

{% block textarea %}
    <textarea name="{{ input.name }}" value="{{ input.value|e }}" {% if input.class %}class="{{ input.class }}"{% endif %} {% if input.id %} id="{{ input.id }}"{% endif %}>{{ input.value|e }}</textarea>
{% endblock %}

{# Repeating Item #}
{% macro repeaterItem(container, modal, inputs, values) %}
    {% import _self as forms %}

    <div class="option-item {% if container.class %}{{ container.class }}{% endif %}" {% if container.id %}id="{{ container.id }}"{% endif %} data-inputs="{{ inputs |json_encode() }}" data-modal="{{ modal |json_encode() }}">

        <div class="option-title">
            <span class="option-text">{{ container.title }} {% if container.info %}<span class="info">{{ container.info }}</span>{% endif %}</span>
            <span class="option-wrapper">
                {% if container.icon is defined and container.icon != '' %}
                    {% include 'formbuilder/_includes/icons/' ~ container.icon ignore missing %}
                {% endif %}

                <span class="option-result multiple">
                    {% if values %}
                        {% for item in values %}
                            <div class="result-item" data-result-index="{{ loop.index0 }}">
                                <div class="option-result-actions">
                                    <a href="#" class="option-result-delete"><i class="far fa-times"></i></a>
                                </div>
                                <code><span class="option-key input-hint">{{ item.key }}:</span> {{ item.value }}</code>

                                <input type="text" name="{{ inputs[0].name }}[{{ loop.index0 }}][key]" value="{{ item.key }}" class="hidden" />
                                <input type="text" name="{{ inputs[1].name }}[{{ loop.index0 }}][value]" value="{{ item.value }}" class="hidden" />
                            </div>
                        {% endfor %}
                    {% endif %}
                </span>
            </span>
        </div>

        <div class="option-actions">
            <a href="#" class="option-edit btns btn-add btn-small" title="{{ "Add" |t }}"><i class="fas fa-plus"></i></a>
        </div>

    </div>

{% endmacro %}




{# Option Item #}
{% macro optionItem(container, modal, inputs) %}

    {% set enabled = false %}

    {% for input in inputs %}
        {% if block(input.type, _self) is defined %}
            {% with { input: input } only %}
                {{ block(input.type, _self) }}
            {% endwith %}
        {% endif %}

        {% if input.type == 'checkbox' %}
            {% set enabled = input.checked ? true : false %}
        {% endif %}
    {% endfor %}


    <div class="option-item {% if enabled is defined and enabled %}option-enabled {% endif %}{% if container.class %}{{ container.class }}{% endif %}" {% if container.id %}id="{{ container.id }}"{% endif %} data-inputs="{{ inputs |json_encode() }}" data-modal="{{ modal |json_encode() }}">

        <div class="option-title">
            <span class="option-text">
                {% if container.icon is defined and container.icon != '' %}
                    <span class="icon"><i class="far fa-{{ container.icon }}"></i></span>
                {% endif %}
                    {{ container.title }}
                {# {% if container.info %}
                    <span class="info">{{ container.info }}</span>
                {% endif %} #}
            </span>
            <span class="option-wrapper">
                <span class="option-result">
                    {% for input in inputs %}
                        {% if input.type != 'checkbox' %}
                            {% if input.value != '' and input.hint is defined %}
                                <code><span class="input-hint">{{ input.hint }}:</span> {{ input.value |raw }}</code>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </span>
            </span>
        </div>

        <div class="option-actions">
            {% if container.class == 'tags' %}
                <a href="#" class="option-edit btns btn-add" title="{{ "Add" |t }}"><i class="far fa-plus-circle"></i></a>
            {% else %}
                {% if container.toggle is defined and container.toggle %}
                    {% if modal %}
                        <a href="#" class="option-edit {% if not enabled %}hidden{% endif %}" title="{{ "Edit" |t }}"><i class="far fa-pencil"></i></a>
                    {% endif %}
                    {% if enabled is defined and enabled %}
                        <a href="#" class="btns btn-small btn-moss option-toggle" title="{{ "Toggle" |t }}">{{ "Disable" |t }}</a>
                    {% else %}
                        <a href="#" class="btns btn-small btn-moss option-toggle" title="{{ "Toggle" |t }}">{{ "Enable" |t }}</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="option-edit hidden" title="{{ "Edit" |t }}"><i class="far fa-pencil"></i></a>
                {% endif %}
            {% endif %}
        </div>

    </div>
{% endmacro %}