{% import "_includes/forms" as forms %}

{{ hiddenInput('type', type) }}

<h2>{{ type|capitalize }} {{ 'Integration'|t('form-builder') }}</h2>


{{ forms.textField({
    label: "Name"|t('form-builder'),
    id: 'integration-name',
    name: 'name',
    first: true,
    autocorrect: false,
    autocapitalize: false,
}) }}

{{ forms.textField({
    label: "Handle"|t('form-builder'),
    id: 'integration-handle',
    name: 'handle',
    autocorrect: false,
    autocapitalize: false,
}) }}

<h3>{{ 'Settings'|t('form-builder') }}</h3>

<p>Email template customizer coming soon.</p>

<div class="buttons">
    <input type="button" class="btn cancel" value="{{ 'Cancel'|t('form-builder') }}">
    <input type="submit" class="btn submit" value="{{ 'Save'|t('form-builder') }}"/>
</div>