{% import "form-builder/_includes/_components" as components %}

{% set templatePath = 'form-builder/integrations/_type/slack/fields/' %}

<section class="cmp-tout-alt" id="integration-{{ type }}-{{ index }}" data-type="{{ type }}">

    <input type="hidden" name="integrations[{{ type }}][{{ index }}][integrationId]" value="{{ integration.id }}">

    <header>
        <div class="titlebar">
            <span class="tout-title">
                {% include 'form-builder/_includes/icons/integrations-' ~ type ignore missing %}
                <span class="type-title">{{ type }}</span>
                <a href="#" class="delete-btn" data-target="integration-{{ type }}-{{ index }}">Remove</a>
            </span>
            <div class="integration-info">
                <span class="integration-title">{{ integration.name }}</span>
                <div class="status-container">
                    {% if integration.status == 'enabled' %}
                        <div class="status on" title="Enabled"></div>
                    {% else %}
                        <div class="status off" title="Disabled"></div>
                    {% endif %}
                    <div class="status-title">{{ integration.status |pascal }}</div>
                </div>
            </div>
        </div>
    </header>

    <div class="body">
        <div class="fields">
            {% import "_includes/forms" as forms %}

            {% set includeSubmission = 'integrations[slack]['~ index ~'][includeSubmission]' %}
            {% set enableIncludeSubmission = attribute(form.integrations.slack, index).includeSubmission is defined and attribute(form.integrations.slack, index).includeSubmission ? true : false %}

            {{ forms.lightswitchField({
                label: "Include Submission"|t('form-builder'),
                instructions: "Should we include submission data in slack message?"|t('form-builder'),
                id: "include-submissin-for-slack",
                name: includeSubmission,
                on: enableIncludeSubmission
            }) }}

            {% set slackTextName = 'integrations[slack]['~ index ~'][text]' %}
            {{ forms.textareaField({
                label: "To Email"|t('form-builder'),
                value: attribute(form.integrations.slack, index).text is defined and attribute(form.integrations.slack, index).text != '' ? attribute(form.integrations.slack, index).text : '',
                id: 'to-email',
                name: slackTextName,
                instructions: "Enter slack message."|t('form-builder')
            }) }}
        </div>
    </div>

</section>