{% extends "form-builder/_layouts/layout" %}
{% import "_includes/forms" as forms %}

{% set bodyClass = 'formbuilder fb-edit-form' %}
{% set pluginCpUrl = url('form-builder') %}
{% set selectedSubnavItem = "forms" %}
{% set element = form %}
{% set saveDraftAction = null %}

{% set isNewElement = form.id ? false : true %}

{% set docLinks = {
    'formSettings': 'https://docs.formbuilder.tools/forms/new.html#settings',
    'formDatabase': 'https://docs.formbuilder.tools/forms/new.html#database',
    'formOptions': 'https://docs.formbuilder.tools/forms/new.html#options',
    'formSpamProtection': 'https://docs.formbuilder.tools/forms/new.html#spam-protection'
} %}

{% set groups = craft.fb.getAllGroups() %}
{% if not groups %}
    {% exit 404 %}
{% endif %}

{% set groupId = craft.app.request.getQueryParam('groupId') %}
{% set statusId = form.statusId is defined ? form.statusId %}

{% if not groupId %}
    {% if form.id %}
        {% set groupId = form.groupId %}
    {% else %}
        {% set groupId = groups[0].id %}
    {% endif %}
{% endif %}


{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu" data-align="right">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ '{cpEditUrl}'|hash }}">
                        {{ "Save and continue editing"|t('app') }}
                    </a>
                </li>
            </ul>
            {% if not isNewElement %}
                {% if currentUser.can('fb:deleteForms') %}
                    <hr>
                    <ul>
                        <li>
                            <a class="formsubmit error delete-form" data-action="form-builder/forms/delete"
                               data-id="{{ form.id }}"
                               data-confirm="{{ 'Are you sure you want to delete this form?'|t('from-builder') }}"
                               data-redirect="{{ 'form-builder/forms'|hash }}">
                                {{ 'Delete form'|t('qarr') }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

    {{ actionInput('form-builder/forms/save') }}
    {{ redirectInput('form-builder/forms/group/{groupId}') }}

    {% if form.id %}
        {{ hiddenInput('id', form.id) }}
        {{ hiddenInput('fieldLayoutId', form.fieldLayoutId) }}
    {% endif %}

    {{ forms.textField({
        label: "Name"|t('form-builder'),
        id: 'name',
        name: 'name',
        first: true,
        autofocus: true,
        autocorrect: false,
        autocapitalize: false,
        value: form.name,
        errors: (form.getErrors('name'))
    }) }}

{#    {% include "_includes/fieldlayoutdesigner" with {#}
{#        fieldLayout: form.getFieldLayout(),#}
{#        customizableTabs: true,#}
{#        form: form#}
{#    } only %}#}

    {% include "form-builder/forms/_includes/fields/fieldlayoutdesigner" ignore missing with {
        fieldLayout: form.getFieldLayout(),
        customizableTabs: true,
        form: form
    } only %}

    {% if currentUser.can('fb:accessIntegrations') %}
        {% set availableIntegrations = craft.fb.isIntegrations() %}
        {% set integrations = form.getIntegrations() %}
        <hr>

        <section class="integrations">
            <header>
                <h2>{{ "Integrations"|t('form-builder') }}</h2>
                <p>{{ "Send notifications or save submission to 3rd party services."|t('form-builder') }}</p>
                <div></div>
            </header>

            {% if availableIntegrations %}
                <a href="#" class="btn submit add-integrations-item" {% if form.id is defined %}data-form-id="{{ form.id }}"{% endif %}>{{ 'Add Integration'|t('form-builder') }}</a>
            {% else %}
                <br>
                <a href="{{ url('form-builder/integrations') }}" class="btn">{{ 'Create first integration'|t('form-builder') }}</a>
            {% endif %}
            <hr>

            <div class="integration-body">
                <div id="formbuilder-integrations-container">
                    {% for type, elements in integrations %}
                        {% set isMultiple = elements|isMulti %}

                        {% if isMultiple %}
                            {% for index, element in elements %}
                                {% if element.integration is defined %}
                                    {% if craft.app.view.doesTemplateExist('form-builder/integrations/_type/' ~ type ~ '/integration-section') %}
                                        {% include 'form-builder/integrations/_type/' ~ type ~ '/integration-section' ignore missing with { integration: element.integration, type: type, index: index} %}
                                    {% else %}
                                        {% include 'form-builder-integrations/types/' ~ type ~ '/integration-section' ignore missing with { integration: element.integration, type: type, index: index} %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if craft.app.view.doesTemplateExist('form-builder/integrations/_type/' ~ type ~ '/integration-section') %}
                                {% include 'form-builder/integrations/_type/' ~ type ~ '/integration-section' ignore missing with { integration: elements.integration, type: elements.integration.type, index: loop.index} %}
                            {% else %}
                                {% include 'form-builder-integrations/types/' ~ type ~ '/integration-section' ignore missing with { integration: elements.integration, type: elements.integration.type, index: loop.index} %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {#        {% set availableFields = form.fieldLayoutId is defined and form.fieldLayoutId ? form.getFieldLayout().getFields() : null %}#}

    {#        {% set fieldsOption = [] %}#}
    {#        {% set fieldsOption = [{label: 'Select Field', value: ''}] %}#}
    {#        {% for field in availableFields %}#}
    {#            {% set type = field |getClass(field) %}#}
    {#            {% if type == 'PlainText' or type == 'Email' %}#}
    {#                {% set fieldsOption = fieldsOption|merge([{ label: field.name, value: field.handle }]) %}#}
    {#            {% endif %}#}
    {#        {% endfor %}#}

    {#        {% set errors = form.getErrors() %}#}

    {#        {% set tabs = [#}
    {#            {#}
    {#                tabId: 0,#}
    {#                class: 'tab',#}
    {#                label: 'Fields',#}
    {#                url: '#tab-fields'#}
    {#            },#}
    {#            {#}
    {#                tabId: 1,#}
    {#                class: 'tab',#}
    {#                label: 'Settings',#}
    {#                url: '#tab-fields-settings'#}
    {#            }#}
    {#        ] %}#}

    {#        <div id="content">#}
    {#            {% include 'form-builder/forms/_includes/fields/fields' ignore missing %}#}

    {#            #}{# INTEGRATIONS #}
    {#            {% if currentUser.can('fb:accessIntegrations') %}#}
    {#                {% set availableIntegrations = craft.fb.isIntegrations() %}#}
    {#                {% set integrations = form.getIntegrations() %}#}

    {#                <section class="integrations">#}
    {#                    <header>#}
    {#                        <h2>{{ "Integrations"|t('form-builder') }}</h2>#}
    {#                        #}{#<p>{{ "Send notifications or save submission to 3rd party services."|t('form-builder') }}</p>#}
    {#                    </header>#}

    {#                    {% if availableIntegrations %}#}
    {#                        <a href="#" class="btns btn-small btn-info add-integrations-item" {% if form.id is defined %}data-form-id="{{ form.id }}"{% endif %}><span><i class="fas fa-plus"></i> {{ 'Add Integration'|t('form-builder') }}</span></a>#}
    {#                    {% endif %}#}

    {#                    <div class="integration-body">#}
    {#                        <div id="formbuilder-integrations-container">#}
    {#                            {% for type, elements in integrations %}#}
    {#                                {% set isMultiple = elements|isMulti %}#}

    {#                                {% if isMultiple %}#}
    {#                                    {% for index, element in elements %}#}
    {#                                        {% if element.integration is defined %}#}
    {#                                            {% if craft.app.view.doesTemplateExist('form-builder/integrations/_type/' ~ type ~ '/integration-section') %}#}
    {#                                                {% include 'form-builder/integrations/_type/' ~ type ~ '/integration-section' ignore missing with { integration: element.integration, type: type, index: index} %}#}
    {#                                            {% else %}#}
    {#                                                {% include 'form-builder-integrations/types/' ~ type ~ '/integration-section' ignore missing with { integration: element.integration, type: type, index: index} %}#}
    {#                                            {% endif %}#}
    {#                                        {% endif %}#}
    {#                                    {% endfor %}#}
    {#                                {% else %}#}
    {#                                    {% if craft.app.view.doesTemplateExist('form-builder/integrations/_type/' ~ type ~ '/integration-section') %}#}
    {#                                        {% include 'form-builder/integrations/_type/' ~ type ~ '/integration-section' ignore missing with { integration: elements.integration, type: elements.integration.type, index: loop.index} %}#}
    {#                                    {% else %}#}
    {#                                        {% include 'form-builder-integrations/types/' ~ type ~ '/integration-section' ignore missing with { integration: elements.integration, type: elements.integration.type, index: loop.index} %}#}
    {#                                    {% endif %}#}
    {#                                {% endif %}#}

    {#                            {% endfor %}#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </section>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    </div>#}

    {#    <div id="details">#}
    {#        <div id="settings">#}
    {#            <section class="form-settings-tout cmp-tout theme-white">#}
    {#                <header>#}
    {#                    <span class="tout-title">{{ "Settings" |t('form-builder') }}</span>#}
    {#                    <a href="{{ docLinks['formSettings'] }}" class="docs-link" target="_blank"><i#}
    {#                                class="fas fa-info"></i></a>#}
    {#                </header>#}
    {#                <div class="body">#}
    {#                    {% include 'form-builder/forms/_includes/settings/basic-settings' ignore missing %}#}
    {#                </div>#}
    {#            </section>#}

    {#            <section class="form-options-tout cmp-tout theme-white">#}
    {#                <header>#}
    {#                    <span class="tout-title">{{ "Database" |t('form-builder') }}</span>#}
    {#                    <a href="{{ docLinks['formDatabase'] }}" class="docs-link" target="_blank"><i#}
    {#                                class="fas fa-info"></i></a>#}
    {#                </header>#}
    {#                <div class="body">#}
    {#                    {% include 'form-builder/forms/_includes/settings/save-entries' ignore missing %}#}
    {#                </div>#}
    {#            </section>#}

    {#            <section class="form-options-tout cmp-tout theme-white">#}
    {#                <header>#}
    {#                    <span class="tout-title">{{ "Options" |t('form-builder') }}</span>#}
    {#                    <a href="{{ docLinks['formOptions'] }}" class="docs-link" target="_blank"><i#}
    {#                                class="fas fa-info"></i></a>#}
    {#                </header>#}
    {#                <div class="body">#}
    {#                    {% include 'form-builder/forms/_includes/options/submit-button' ignore missing %}#}
    {#                    {% include 'form-builder/forms/_includes/options/redirect' ignore missing %}#}
    {#                    {% include 'form-builder/forms/_includes/options/messages' ignore missing %}#}
    {#                    #}{# {% include 'form-builder/forms/_includes/options/ajax' ignore missing %} #}
    {#                    #}{# {% include 'form-builder/forms/_includes/options/terms-conditions' ignore missing %} #}
    {#                </div>#}
    {#            </section>#}

    {#            <section class="spam-protection-tout cmp-tout theme-white">#}
    {#                <header>#}
    {#                    <span class="tout-title">{{ "Spam Protection" |t('form-builder') }}</span>#}
    {#                    <a href="{{ docLinks['formSpamProtection'] }}" class="docs-link" target="_blank"><i#}
    {#                                class="fas fa-info"></i></a>#}
    {#                </header>#}
    {#                <div class="body">#}
    {#                    {% include 'form-builder/forms/_includes/spam/honeypot' ignore missing %}#}
    {#                    {% include 'form-builder/forms/_includes/spam/timed' ignore missing %}#}
    {#                </div>#}
    {#            </section>#}

    {#            <div class="pane meta save-form-meta last">#}
    {#                <button type="submit" class="btns btn-info save-form">{{ "Save Form" |t('form-builder') }}<span#}
    {#                            class="btn-hint">&#8984; + S</span></button>#}
    {#            </div>#}

    {#                {% if currentUser.can('fb:deleteForms') %}#}
    {#                    {% if formId is defined %}#}
    {#                        <div class="pane meta delete-form-meta last">#}
    {#                            <a href="#" class="btns btn-danger delete-form"#}
    {#                               data-id="{{ form.id }}">{{ "Delete Form" |t('form-builder') }}</a>#}
    {#                        </div>#}
    {#                    {% endif %}#}
    {#                {% endif %}#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}

{% block details %}
    {% include 'form-builder/forms/_includes/_settings' ignore missing %}
{% endblock %}


{% js %}
    {% if form and not form.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endjs %}
