{% extends "form-builder/_layouts/layout" %}
{% import "_includes/forms" as forms %}

{% set bodyClass = 'formbuilder fb-edit-form' %}
{% set pluginCpUrl = url('form-builder') %}
{% set selectedSubnavItem = "forms" %}
{% set element = form %}
{% set saveDraftAction = null %}

{% set crumbs = [
    { label: craft.fb.getPluginName(), url: url('form-builder') },
    { label: 'Forms' | t('form-builder'), url: url('form-builder/forms') },
] %}

{% set isNewElement = form.id ? false : true %}

{% set docLinks = {
    'formSettings': 'https://docs.formbuilder.tools/forms/new.html#settings',
    'formDatabase': 'https://docs.formbuilder.tools/forms/new.html#database',
    'formOptions': 'https://docs.formbuilder.tools/forms/new.html#options',
    'formSpamProtection': 'https://docs.formbuilder.tools/forms/new.html#spam-protection'
} %}

{% set groups = craft.fb.getAllGroups() %}
{% if not groups %}
    {% exit 404 %}
{% endif %}

{% set groupId = craft.app.request.getQueryParam('groupId') %}
{% set statusId = form.statusId is defined ? form.statusId %}

{% if not groupId %}
    {% if form.id %}
        {% set groupId = form.groupId %}
    {% else %}
        {% set groupId = groups[0].id %}
    {% endif %}
{% endif %}


{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu" data-align="right">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ '{cpEditUrl}'|hash }}">
                        {{ "Save and continue editing"|t('app') }}
                    </a>
                </li>
            </ul>
            {% if not isNewElement %}
                {% if currentUser.can('fb:deleteForms') %}
                    <hr>
                    <ul>
                        <li>
                            <a class="formsubmit error delete-form" data-action="form-builder/forms/delete"
                               data-id="{{ form.id }}"
                               data-confirm="{{ 'Are you sure you want to delete this form?'|t('from-builder') }}"
                               data-redirect="{{ 'form-builder/forms'|hash }}">
                                {{ 'Delete form'|t('qarr') }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

    {{ actionInput('form-builder/forms/save') }}
    {{ redirectInput('form-builder/forms/group/{groupId}') }}

    {% if form.id %}
        {{ hiddenInput('id', form.id) }}
        {{ hiddenInput('fieldLayoutId', form.fieldLayoutId) }}
    {% endif %}

    {{ forms.textField({
        label: "Name"|t('form-builder'),
        id: 'name',
        name: 'name',
        first: true,
        autofocus: true,
        autocorrect: false,
        autocapitalize: false,
        value: form.name,
        errors: (form.getErrors('name'))
    }) }}

    <h2>{{ 'Form Fields'|t('form-builder') }}</h2>
    {% include "form-builder/forms/_includes/fields/fieldlayoutdesigner" ignore missing with {
        fieldLayout: form.getFieldLayout(),
        customizableTabs: true,
        customizableUi: false,
        form: form
    } only %}

    {% if currentUser.can('fb:accessIntegrations') %}
        {% set availableIntegrations = craft.fb.isIntegrations() %}
        {% set integrations = form.getIntegrations() %}
        <hr>

        <section class="integrations">
            <header>
                <h2>{{ "Integrations"|t('form-builder') }}</h2>
                <p>{{ "Send notifications or save submission to 3rd party services."|t('form-builder') }}</p>
                <div></div>
            </header>

            {% if availableIntegrations %}
                <a href="#" class="btn submit add-integrations-item" {% if form.id is defined %}data-form-id="{{ form.id }}"{% endif %}>{{ 'Add Integration'|t('form-builder') }}</a>
            {% else %}
                <br>
                <a href="{{ url('form-builder/integrations') }}" class="btn">{{ 'Create first integration'|t('form-builder') }}</a>
            {% endif %}
            <hr>

            <div class="integration-body">
                <div id="formbuilder-integrations-container">
                    {% for type, elements in integrations %}
                        {% set isMultiple = elements|isMulti %}

                        {% if isMultiple %}
                            {% for index, element in elements %}
                                {% if element.integration is defined %}
                                    {% if craft.app.view.doesTemplateExist('form-builder/integrations/_type/' ~ type ~ '/integration-section') %}
                                        {% include 'form-builder/integrations/_type/' ~ type ~ '/integration-section' ignore missing with { integration: element.integration, type: type, index: index} %}
                                    {% else %}
                                        {% include 'form-builder-integrations/types/' ~ type ~ '/integration-section' ignore missing with { integration: element.integration, type: type, index: index} %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if craft.app.view.doesTemplateExist('form-builder/integrations/_type/' ~ type ~ '/integration-section') %}
                                {% include 'form-builder/integrations/_type/' ~ type ~ '/integration-section' ignore missing with { integration: elements.integration, type: elements.integration.type, index: loop.index} %}
                            {% else %}
                                {% include 'form-builder-integrations/types/' ~ type ~ '/integration-section' ignore missing with { integration: elements.integration, type: elements.integration.type, index: loop.index} %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

{% block details %}
    {% include 'form-builder/forms/_includes/_settings' ignore missing %}
{% endblock %}


{% js %}
    {% if form and not form.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endjs %}
