{% extends "_layouts/cp" %}

{% set title = "Forms"|t('form-builder') %}
{% set bodyClass = 'formbuilder fb-forms' %}
{% set selectedSubnavItem = "forms" %}

{% set elementType = 'roundhouse\\formbuilder\\elements\\Form' %}
{% set elementInstance = craft.app.elements.createElement(elementType) %}
{% set context = 'index' %}

{% if not elementInstance %}
    {% exit 404 %}
{% endif %}

{% set sources = craft.app.elementIndexes.getSources(elementType, 'index') %}
{% set customizableSources = (sources is not empty and context == 'index' and currentUser.admin) %}

{% block header %}
    {% include 'form-builder/_includes/_header' ignore missing with { title: title, createForm: true, groups: groups } %}
{% endblock %}

{% block sidebar %}
    {% if sources is not empty %}
        <nav id="sources">
            <ul>
                {% for key, source in sources %}
                    {% if source.heading is defined %}
                        <li class="heading"><span>{{ source.heading|t('form-builder') }}</span></li>
                    {% else %}
                        <li {% if source.key != '*' %}class="group-item"{% endif %}>
                            <a data-label="{{ source.label }}" {% if source.icon is defined and source.icon %}data-icon-name="{{ source.icon }}"{% endif %} data-key="{{ source.key is defined ? source.key : key }}" {%- if source.defaultSort is defined %}{% set defaultSort = source.defaultSort %} data-default-sort="{{ defaultSort is iterable ? defaultSort|join(':') : defaultSort }}"{% endif %}{%- if source.data is defined -%}{% for dataKey, dataVal in source.data %} data-{{ dataKey }}="{{ dataVal }}"{% endfor %}{%- endif %}>
                                {% if source.icon is defined and source.icon %}
                                    <i class="far fa-{{ source.icon }}"></i>
                                {% endif %}
                                {{- source.label -}}

                                {% if source.key != '*' %}
                                    <span class="edit-group"><i class="fal fa-pencil"></i></span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <section class="group-selector">
                <div class="buttons">
                    <div id="newgroupbtn" class="btns btn-info submit"><i class="fas fa-plus"></i><span class="txt">{{ "New Group"|t('form-builder') }}</span></div>
                </div>
            </section>
        </nav>

        {% if customizableSources %}
            <a class="btns btn-white customize-sources" title="{{ 'Customize sources'|t('form-builder') }}">{{ 'Customize Sidebar'|t('form-builder') }}</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="elementindex">
        {% include "_elements/indexcontainer" with {
            showSiteMenu: false
        } %}
    </div>
{% endblock %}

{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
        context:        '{{ context }}',
        storageKey:     'elementindex.{{ elementType }}',
        criteria:       Craft.defaultIndexCriteria
    });
{% endblock %}

{% js block('initJs') %}